
.tile {
  display: inline;
}

table {
  border-collapse: collapse;
}

td {
  padding: 0;
}

#map_output {
	display: block;
}

#maps {
    overflow: auto;
}

#map_region {
    border-style: outset;
    border-width: 10;
    width: 256;
    height: 256;
}

#temp_region {
    border-style: outset;
    border-width: 10;
    width: 256;
    height: 256;
}

#temp_region {
    display: none;
}

#viewport {
    display: none;
}

