
body {
}

/* container */
.container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  width: 514px;
  height: 372px;

  margin: auto;
}

/* game content */
.game-content {
  background: url(/images/background.png) no-repeat left top;
  width: 514px;
  height: 353px;
}

/* displays */
.display {
  position: absolute;
  right: 76px;
  width: 51px;
  height: 23px;
  font-size: 0; /* fix to remove inline-block padding */
}

.display-level {
  top: 63px;
}

.display-time {
  top: 125px;
}

.display-chips-left {
  top: 215px;
}

/* digits */
.digit {
  display: inline-block;
  width: 13px;
  height: 21px;
  margin: 1px 2px 0px 2px;
}

.digit-none {
  background: url(/images/sprite.png) no-repeat -1px -1px;
}

.digit-0 {
  background: url(/images/sprite.png) no-repeat -15px -1px;
}

.digit-1 {
  background: url(/images/sprite.png) no-repeat -29px -1px;
}

.digit-2 {
  background: url(/images/sprite.png) no-repeat -43px -1px;
}

.digit-3 {
  background: url(/images/sprite.png) no-repeat -57px -1px;
}

.digit-4 {
  background: url(/images/sprite.png) no-repeat -71px -1px;
}

.digit-5 {
  background: url(/images/sprite.png) no-repeat -85px -1px;
}

.digit-6 {
  background: url(/images/sprite.png) no-repeat -99px -1px;
}

.digit-7 {
  background: url(/images/sprite.png) no-repeat -113px -1px;
}

.digit-8 {
  background: url(/images/sprite.png) no-repeat -127px -1px;
}

.digit-9 {
  background: url(/images/sprite.png) no-repeat -141px -1px;
}

/* warning digits */
.digit-none.low {
  background: url(/images/sprite.png) no-repeat -1px -23px;
}

.digit-0.low {
  background: url(/images/sprite.png) no-repeat -15px -23px;
}

.digit-1.low {
  background: url(/images/sprite.png) no-repeat -29px -23px;
}

.digit-2.low {
  background: url(/images/sprite.png) no-repeat -43px -23px;
}

.digit-3.low {
  background: url(/images/sprite.png) no-repeat -57px -23px;
}

.digit-4.low {
  background: url(/images/sprite.png) no-repeat -71px -23px;
}

.digit-5.low{
  background: url(/images/sprite.png) no-repeat -85px -23px;
}

.digit-6.low {
  background: url(/images/sprite.png) no-repeat -99px -23px;
}

.digit-7.low {
  background: url(/images/sprite.png) no-repeat -113px -23px;
}

.digit-8.low {
  background: url(/images/sprite.png) no-repeat -127px -23px;
}

.digit-9.low {
  background: url(/images/sprite.png) no-repeat -141px -23px;
}

/* debug */
.debug {
  background-color: red;
  opacity: 0.4;
}

/*.tile {
  display: inline;
}

table {
  border-collapse: collapse;
}

td {
  padding: 0;
}

#map_output {
    display: block;
}

#maps {
    float: right;
    width: 500;
    height: 250;
    overflow: auto;
}

#map_region {
    border-style: outset;
    border-width: 10;
    width: 256;
    height: 256;
}

#temp_region {
    border-style: outset;
    border-width: 10;
    width: 256;
    height: 256;
}

#temp_region {
    display: none;
}

#viewport {
    display: none;
}*/
